//Header
.header {
  display: flex;
  &__h1 {
    color: $color-primario;
    background-image: url(https://64.media.tumblr.com/4dbf422b4f27c29439814452d501afba/aecf5906f98d0526-76/s500x750/3ccf64ca502437a29f9b727a30c6d9c3a2d49ef0.gifv);
    text-align: center;
    font-family: "Tourney", cursive;
    font-size: 4rem;
    background-size: contain;
    background-repeat: round;
    background-attachment: local;
    padding: 20px 40px 30px;
    overflow: hidden;
    font-style: italic;
  }
}
